<%- include('header') -%> 
<div class="jumbotron" style="background-color: rgb(219, 199, 199);">
    <div class="container" style="color: black;">
      <h1 class="display-3">Uhho!</h1>
      <p>The data could not be fetched! May be check back later or contact the developer.</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Take me back &raquo;</a></p>
    </div>
</div>
<%- include('footer') -%> 