<%- include('header') -%> 
    <div class="container main-form">
        <div class="heading">
            <h1>Codeforces Profile Visualiser</h1>
        </div>
        <div class="form-info form-check">
            <form action="/" method="post">
                <input type="text" class="form-control form-text" name="cfUserName" placeholder="Enter the CF Username" autocomplete="off">
                <div class="form-button">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
<%- include('footer') -%> 